# macOS
.DS_Store


# Python caches
__pycache__/
*.pyc

# Env
.env

# Data
data/*.csv
!data/transactions.csv   # משאירים את קובץ הדמו ב־git

# Outputs / artifacts
output/
archived_providers/**/*.zip

# Nadlan automation (אם נשאר מחוץ לארכיון)
nadlan_automation_project/